* {
    color: black;
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    /* word-wrap: break-word; */
    /* font-family: calibri; */
    
  }
  h4{
    text-align: center;
  }
  p {
    line-height: 30px;
    font-size: 16;
  }

  h1 {
    font-weight: bold;
  }